name: Update Clash YAML

on:
  # 每小时的第30分钟执行
  schedule:
    - cron: "30 * * * *"
  # 手动触发
  workflow_dispatch:
  # push 触发
  push:
    branches: [ main ]

jobs:
  update-clash-yml:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download and process YAML
      run: |
        npm install
        npm run start

    - name: Commit and push changes
      run: |
        git config --local user.name "GitHub Action"
        git config --local user.email "action@github.com"
        git add clash-provider.yml
        # 仅在有更改时提交
        if ! git diff --cached --quiet; then
          git commit -m "Update clash-provider.yml"
          git push
          curl -I https://purge.jsdelivr.net/gh/lewis617/clash-cfg@main/clash-provider.yml
        else
          echo "No changes to commit."
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # 使用 GitHub 提供的 token